@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-light-brown;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

html {
  scroll-behavior: smooth;
  /* 點擊目錄滑動效果 */
}

.tableContentItem {
  transition: 0.4s;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  margin-bottom: 12px;
  width: 100%;
  ::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d3c4b7;
    bottom: 6px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
  }
  :hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.material-icons-big {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 64px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.hightlight {
  color: #ff0000;
  font-size: bold;
}

.subTitle {
  /* text-lg font-extrabold */
  font-size: 1.125rem;
  font-weight: 800;
}

.listItem {
  /* pl-[22px] -indent-[22px] */
  padding-left: 22px;
  text-indent: -22px;
}
